<!--<div class="padded-content-age">-->
    <md-content class="padded-content-page">
        <div layout="column">
            <input id="hand_unit_id" ng-model="item.name">
        </div>
<!--     </md-content>
    <md-content class="padded-content-page" layout="row" flex> -->
        <md-content layout="column" flex>
            <div id="firepad-container" layout-fill="100"></div>
        </md-content>
        <!--<div ui-codemirror id="firepad-container" ui-codemirror-opts="vm.editorOptions" ng-model="vm.text"></div>-->
    </md-content>
<!--</div>-->
